html {
    font: 15pt Arial;
}
body {
    background: url("wallpaper.jpg") no-repeat top center fixed;
    background-size: cover;
}

div::before {
    content: " Curso de PHP para Iniciantes - by Gustavo Guanabara ";
    font: 0.8em Arial;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-variant: small-caps;
    background-color: #6c3db2;
    padding: 25px 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px; 
    width: 560px;
}

div {
    color: #1b181f;;
    background-color: #ffffffec;
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
    
}

a:hover {
    text-decoration: underline;
}
span.foco {
    font-weight: bold;
    color: #7e050c;
}